{% extends "index.html" %}
<style>
  .container{
    width: 100%;
    height: 100%;
    background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
      linear-gradient(to right, #ebf8e100 10%, #c73030 10% 10.2%, #ebf8e100 10.5%);
    background-size: 100% 25px, 100% 100%;
    background-repeat: repeat, no-repeat;
    /* Add your background pattern here */
  }
  
</style>
{%  block body %}
{% if c == 1 %}
<div class="alert alert-success alert-dismissible fade show"  role="alert">
    <strong> Employee added succesfully</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>{% endif %}

<div class = "container my-2" id = "add" style="  background-color: #e5e5f7;
opacity: 1;
width: 100%;
height: 100%;
background-image: repeating-radial-gradient(
    circle at 0 0,
    transparent 0,
    #e5e5f7 30px
  ),
  repeating-linear-gradient(#ffb5b58a, #ffb8b8);"  >
<form action="/add_emp" method="post">
    {% csrf_token %}
   
    <label for="first_name">First Name</label><br>
    <input type="text" id="first_name" name="first_name" value="{{ first_name }}"><br>
    
    <label for="last_name">Last Name</label><br>
    <input type="text" id="last_name" name = "last_name" value="{{ last_name }}"><br>
    <label for="salary">Salary</label><br>
    <input type="number" id="salary" name="salary" value="{{ salary }}"><br>
    
    <label for="dept">Department</label><br>
    <input type="number" id="dept" name="dept" value="{{ dept }}"><br>
    <label for="role">Role</label><br>
    <input type="number" id="role" name="role" value="{{ role }}"><br>
    <label for="bonus">Bonus</label><br>
    <input type="number" id="bonus" name="bonus" value="{{ bonus }}"><br>
    <label for="phone">Phone Number</label><br>
    <input type="number" id="phone" name="phone" value="{{ phone }}"><br>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}