{% extends "index.html" %}
{%  block body %}

All emp detail <br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">sno</th>
        <th scope="col">FName</th>
        <th scope="col">LName</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    {% for emp in emps %}
    <tbody>
       <tr>
        <th scope="row">{{emp.sno}}</th>
        <td>{{emp.first_name}}</td>
        <td>{{emp.last_name}}</td>
        <td>{{emp.salary}}</td>
      </tr>
     
    </tbody>
    {% endfor %}
  </table>
{% endblock body %}